
     <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 p-5" id="htmlData">                 
                    <h1 class="invoice">INVOICE</h1>

                    <div class="company">
                        <p>GEO-PROJECT</p>
                        <p>33843-00200</p>
                        <p>+25472546842</p>
                        <p class="mb-5">geoprojectke@gmail.com</p>
                    </div>
                 

                    <div class="row">
                        <div class="col-md-6 customer">
                            <p><strong>Bill To:</strong></p>
                            <p>{{allData.name}}</p>
                            <p>{{allData.address}}</p>
                            <p>{{allData.phoneNumber}}</p>
                            <p>{{allData.email}}</p>
                
                        </div>
                        <div class="col-md-6">
                            <p><strong>Invoice Number:</strong> 999002</p>
                            <p><strong>Invoice Date:</strong> {{todaysDate| date}}</p>
                            <p><strong>Payment Due:</strong> {{allData.date | date}}</p>
                        </div>
                    </div>
       
                <div class="row">
                    <table class="table">
                        <thead class="thead">
                          <tr class="tr1">
                            
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsData">
                            
                            <td>{{item.item}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.amount}}</td>
                        
                          </tr>
                         
                        </tbody>
                       
                      </table>
                      
                </div>

                <div class="total">

                    <table id="table">
                    <thead >
                      <tr id="tr">
                        <th class="">Subtotal</th>
                        <th class="">Tax</th>
                        <th class="">Fees/discounts</th>
                        <th class="tot">TOTAL</th>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                      <tr id="tr">
                        
                        <td class="td">$ {{grandTotal}}</td>
                        <td class="td">$ 0.00</td>
                        <td class="td">$ 0.00</td>
                        <td class="td" id="tot">$ {{grandTotal}}</td>
                      </tr>
                    </tbody>
                    </table>


                    <!-- <p>Subtotal:  ${{grandTotal}}</p> 
                    <p>Tax: $0.00</p> 
                    <p>Fees/discounts: $0.00</p> 
                    <h5>Total: ${{grandTotal}}</h5>  -->
                </div>
                    
             <h6>Terms and Conditions</h6>   
             <p>Terms and conditions go here</p>
                
            </div>
            
            <div class="col-md-2 mt-5">
                <button class="btn btn-success" (click)="openPDF()">Download PDF</button>
            </div>
        </div>
    </div>
     
    
  
   


